---
title: Protect-O-Zone PTY LTD
---

<div class="logo">
  <%= image_tag "logo-lrg.png" %>
</div>
<h2>Air Conditioning Services</h2>
<p>
  We specialise in high-rise air conditioner installation and service.
  Experts with Multistack and multi-story air conditioner systems. We've been
  servicing the Sydney Metro area for over 20 years.
  <a href='mailto:contact@protect-o-zone.com.au'>
    Get in touch.
  </a>
</p>
<footer>
  <a href='mailto:contact@protect-o-zone.com.au'>
    <svg class="icon-email" viewBox="0 0 24.069 16.069">
      <title>email</title>
      <path d="M23,20H1a0.945,0.945,0,0,1-1-1V5A0.945,0.945,0,0,1,1,4H23a0.945,0.945,0,0,1,1,1V19A0.945,0.945,0,0,1,23,20ZM2,18H22V6H2V18Z" transform="translate(0 -3.931)"/>
      <path d="M12,13a0.891,0.891,0,0,1-.8-0.5,0.984,0.984,0,0,1,.3-1.4l11-7a1.012,1.012,0,0,1,1.1,1.7l-11,7A1.421,1.421,0,0,1,12,13Z" transform="translate(0 -3.931)"/>
      <path d="M12,13a0.764,0.764,0,0,1-.5-0.2l-11-7A0.889,0.889,0,0,1,.2,4.5a0.889,0.889,0,0,1,1.3-.3l11,7a0.984,0.984,0,0,1,.3,1.4A1.039,1.039,0,0,1,12,13Z" transform="translate(0 -3.931)"/>
    </svg>
    <span>
      contact@protect-o-zone.com.au
    </span>
  </a>
  <a href='tel:0419885336'>
    <svg class='icon-mobile' viewBox="0 0 14 24" ><title>mobile</title>
      <path d="M15.2,24H8.8A3.8,3.8,0,0,1,5,20.2V3.8A3.8,3.8,0,0,1,8.8,0h6.3A3.821,3.821,0,0,1,19,3.8V20.1A3.821,3.821,0,0,1,15.2,24ZM8.8,2A1.793,1.793,0,0,0,7,3.8V20.1a1.793,1.793,0,0,0,1.8,1.8h6.3a1.793,1.793,0,0,0,1.8-1.8V3.8A1.793,1.793,0,0,0,15.1,2H8.8Z" transform="translate(-5)"/>
      <rect x="1" y="18" width="12" height="2"/>
      <rect x="1" y="4" width="12" height="2"/>
    </svg>
    <span>
      0419 885 336
    </span>
  </a>
</footer>
